<html>

  <head>
    <title>RestifyWT</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
  </head>

  <body>

    <div class="container">

      <h1><a href="/things" class="black-text">RestifyWT</a></h1><br>
      <h3>Action details</h3>
      
      <!-- Action -->
      <div class="card lime darken-1">
	<div class="card-content">
	  <ul>
	    <li><b>Action Name:&nbsp;</b>{{ thing["actions"][actionURI]["name"] }}</li>
	    <li><b>Action URI:&nbsp;</b>{{ actionURI }}</li>
	    <li><b>Thing URI:&nbsp;</b><a class="black-text" href='/things/{{ thingID }}'>{{ thingURI }}</a></li>
	  </ul>
	  </table>
	</div>
      </div>
      <div class="divider"></div>	

      <h3>Invoke Action</h3>
      
      <!-- Action -->
      <div class="card lime darken-1">
      	<div class="card-content">
	  <form>
	    {% for f in thing["actions"][actionURI]["input"] %}
            <div class="input-field col s6">
              <input id={{ thing["actions"][actionURI]["input"][f]["name"] }} type="text" class="validate">
              <label for='{{ thing["actions"][actionURI]["input"][f]["name"] }}'>{{ thing["actions"][actionURI]["input"][f]["name"] }}</label>
            </div>	   
	    {% endfor %}
	    <div align="center">
	      <a class="waves-effect waves-light btn lime lighten-5 black-text">Invoke</a>
	    </div>
	  </form>	  
      	</div>
      </div>
      <div class="divider"></div>
      

      
      <h3>Action instances</h3>
      
      <!-- Action -->
      <div class="card lime darken-1">
      	<div class="card-content">
      	  <table>
      	    <tr><th>Action Instance</th></tr>
	    {% for i in thing["actions"][actionURI]["instances"] %}
      	    <tr><td>{{ thing["actions"][actionURI]["instances"][i] }}</td></tr>
	    {% endfor %}
      	  </table>
      	</div>
      </div>
      <div class="divider"></div>

    </div>
    
  </body>
  
</html>
