<html>

  <head>
    <title>RestifyWT</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
  </head>

  <body>

    <div class="container">

      <h1><a href="/things" class="black-text">RestifyWT</a></h1><br>
      <h3>Event details</h3>
      <b>Thing URI:</b>&nbsp;<a class="black-text" href='/things/{{ thingID }}'>{{ thingURI }}</a>
      
      <!-- Event -->
      <div class="card lime darken-1">
	<div class="card-content">
	  <table>
	    <tr><th>Event URI</th><th><b>Event Name</b></th></tr>
	    <tr><td>{{ eventURI }}</td><td>{{ thing["events"][eventURI]["name"] }}</td></tr>
	  </table>
	</div>
      </div>
      <div class="divider"></div>	
      
    </div>
    
  </body>
  
</html>
